<ol class="breadcrumb">
  <li><a href="/admin">Администрирование</a></li>
  <li><a href="/admin/<%=@location.url%>"><%=@location.name%></a></li>
  <li class="active"><%=@month%>-<%=@year%></li>
</ol>
<p>На этой странице вы можете заполнить результаты для данного события.</p>

<div id="table"
     style="width:100%;overflow: scroll"
     data-records="<%=@records.to_json%>"
     data-people="<%=@people.to_json%>"></div>
<div id="save" class="btn btn-primary"
     data-location="<%=@location.url%>"
     data-year="<%=@year%>"
     data-month="<%=@month%>">Сохранить</div>

<script>
    App.Admin.MonthlyReportDashboardController.run();
</script>