<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>

  <div style="overflow-x: scroll">
    <table class="table table-hover table-condensed tablesorter">
      <thead>
        <tr>
          <th style="white-space:nowrap;">Локация</th>
          <th style="white-space:nowrap;">Махабиги</th>
          <th style="white-space:nowrap;">Биги</th>
          <th style="white-space:nowrap;">Средние</th>
          <th style="white-space:nowrap;">Малые</th>
          <th style="white-space:nowrap;">Количество</th>
          <th style="white-space:nowrap;">Очки</th>
        </tr>
      </thead>

      <% for record in @data_table %>
        <tr>
          <td style="white-space:nowrap;"><a href="<%=location_year_path(record[7], @year)%>"><%= record[0]%></a></th>
          <td style="white-space:nowrap;"><%= record[1]%></th>
          <td style="white-space:nowrap;"><%= record[2]%></th>
          <td style="white-space:nowrap;"><%= record[3]%></th>
          <td style="white-space:nowrap;"><%= record[4]%></th>
          <td style="white-space:nowrap;"><%= record[5]%></th>
          <td style="white-space:nowrap;"><%= record[6]%></th>
        </tr>
      <% end %>

    </table>
  </div>
</div>