<h1><%=@location.name%> :: <%=@event.name%></h1>
<p>На этой странице вы можете заполнить результаты для данного события.</p>

<div id="table"
     style="width:750px;overflow: scroll"
     data-records="<%=@records.to_json%>"
     data-people="<%=@people.to_json%>"></div>
<div id="save" class="btn btn-primary"
    data-location="<%=@location.url%>"
    data-event="<%=@event.url%>">Сохранить</div>

<script>
  App.Admin.EventDashboardController.run();
</script>